@import "~react-vis/dist/style";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #414141;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: white;
  height: 50px;
}
.App-body {
  background-color: #0a1325;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.info-board {
  border-width: 1px;
  border-color: white;
}

.display-flex {
  display: flex;
}
.downward {
  color:rgb(255, 102, 102);
}

.rising {
  color: rgb(102, 255, 102);
}
.prices {
  margin-right: 16px;
  border-radius: 10px;
}

button {
  height: 50px;
  width: 100px;
  margin: 4px;
  border-radius: 8px;
  text-transform: uppercase;
}

input {
  height: 30px;
  width: 50px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  text-align: center;
}

.buyButton {
  background-color: rgb(102, 156, 255);
}
.sellButton {
  background-color: rgb(102, 255, 102);
}

.Image-size {
  height: 100px;
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
